@import './variables/variables.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  color: $body-color;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../styles/images/img_bg_moodboard_simple.jpg') no-repeat center center fixed;
  background-size: cover;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  width: 60%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  &__icon {
    width: 100px;
  }
}

.section {
  display: flex;
  justify-content: center;
}

.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  &__item {
    list-style-type: none;
    margin: 10px;
  }
}
.img {
  cursor: pointer;
  width: 150px;
}
.hidden {
  background-color: $orange-transparent;
  height: 50px;
  display: flex;
  color: $white;
  justify-content: center;
  align-items: center;
}

.button {
  width: 200px;
  height: 60px;
  border-radius: 15px;
  align-self: center;
  cursor: pointer;
  font-size: 15px;
  background-color: $orange;
  color: $white;
}

.checkbox {
  display: none;
}
